RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
KEEPER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
FACTORY_ADDRESS=0xYOUR_FACTORY_ADDRESS
# 421614 = Arbitrum Sepolia | 42161 = Arbitrum One | 1996 = Robinhood Chain
CHAIN_ID=421614
POLL_INTERVAL_MS=300000
